name: tests
on:
  push:
  pull_request:
  # TODO: enable manual workflow runs
  workflow_dispatch:
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with: { python-version: "3.10" }
      - run: |
          python -m pip install -U pip pytest
          pip install -r exercise4_e2e_streamlit/requirements.txt
      - run: pytest -q